<!-- Default unchecked -->
<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="defaultUnchecked"
    name="defaultExampleRadios"
    mdbInput
  />
  <label class="custom-control-label" for="defaultUnchecked">Bubble</label>
</div>

<!-- Default checked -->
<div class="custom-control custom-radio">
  <input
    type="radio"
    class="custom-control-input"
    id="defaultChecked"
    name="defaultExampleRadios"
    checked
    mdbInput
  />
  <label class="custom-control-label" for="defaultChecked">Quick</label>
</div>
